.mouse-hover{
    cursor: pointer;
}

.icon-color:hover{
    color: red;
}

.o-flow{
    height: 445px;
    overflow-y: auto;
}

.o-flow::-webkit-scrollbar{
    width: 3px;
}

.o-flow::-webkit-scrollbar-thumb{
    background-color: rgba(128, 128, 128, 0);
    border-radius: 5px;
    transition: background-color 0.3s;
}

.o-flow:hover::-webkit-scrollbar-thumb,
.o-flow::-webkit-scrollbar-thumb:active {
    background-color: #55555577; 
}

@media Only Screen and (max-width: 770px){
    .display-f{
        display: flex;
        flex-direction: column;
    }

    .r-width{
        width: 100%;
    }
}
